<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
    <pluginGroup>se.folksam.i62ds01.maven.plugins</pluginGroup>
  </pluginGroups>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus.intern.folksam.se/content/groups/public</url>
    </mirror>
  </mirrors>
  <proxies>
    <proxy>
      <id>Folksam BC (http)</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>bc.intern.folksam.se</host>
      <port>8080</port>
      <nonProxyHosts>nexus|central|svn|*.intern.folksam.se</nonProxyHosts>
      <!--username>proxyuser</username-->
      <!--password>somepassword</password-->
      <!--nonProxyHosts>www.google.com|*.example.com</nonProxyHosts-->
    </proxy>
    <proxy>
      <id>Folksam BC (https)</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>bc.intern.folksam.se</host>
      <port>8080</port>
      <nonProxyHosts>nexus|central|svn|*.intern.folksam.se</nonProxyHosts>
      <!--username>proxyuser</username-->
      <!--password>somepassword</password-->
      <!--nonProxyHosts>www.google.com|*.example.com</nonProxyHosts-->
    </proxy>
  </proxies>
  <profiles>
    <profile>
      <id>nexus</id>
      <!-- Enable snapshots for the built in central repo to direct -->
      <!-- all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <!-- make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  
</settings>
